# Built variants
**/build/
/captures

# IntelliJ project files
*.iml
.idea/
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/inspectionProfiles/
!.idea/codeStyles/
!.idea/copyright/
!.idea/dictionary.xml

# Local configuration file (contains credentials and paths)
local.properties

# Gradle files
.gradle
gradle-app.setting
!gradle-wrapper.jar

# External Native Build
.externalNativeBuild
.cxx

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
